$bcgcolor: linear-gradient(to right,#70abbd,#94c7a1,);
$bordercolor: #181616;
body {
    background-image: $bcgcolor;
}
.container_first {
    margin: auto ;
    border : 8px solid $bordercolor;
    height: 500px;
    width: 1000px;
    background-color: white;
}
.container_second {
    height: 50px;
    width: 1000px;
    margin: auto;
}

